.mediaViewInfo {
  --web-view-name: genes home;
  --web-view-id: genes_home;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: genes_home;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#genes_home {
  position: absolute;
  width: 1920px;
  height: 1688px;
  background-color: rgba(90,31,68,1);
  overflow: hidden;
  --web-view-name: genes home;
  --web-view-id: genes_home;
  --web-application: true;
  --web-enable-deep-linking: true;
}
#Genes_shop {
  opacity: 0.67;
  position: absolute;
  width: 1920px;
  height: 1281px;
  left: 0px;
  top: 203px;
  overflow: visible;
}
#Rectangle_1 {
  fill: rgba(1,78,44,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 203px;
  left: 0px;
  top: 0px;
}
#Genes-Dairy-Delight {
  left: 735px;
  top: 299px;
  position: absolute;
  overflow: visible;
  width: 451px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Genes {
  position: absolute;
  width: 180px;
  height: 180.5px;
  left: 41px;
  top: 11.25px;
  overflow: visible;
}
#Rectangle_6 {
  fill: rgba(1,78,44,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 203px;
  left: 0px;
  top: 1484px;
}
#Address_1019_S_Main_St__Bloomi {
  left: 130px;
  top: 1519px;
  position: absolute;
  overflow: visible;
  width: 555px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Phone_309-829-6022 {
  left: 1450px;
  top: 1519px;
  position: absolute;
  overflow: visible;
  width: 341px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Home {
  left: 462px;
  top: 78px;
  position: absolute;
  overflow: visible;
  width: 135px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Menu {
  left: 896px;
  top: 78px;
  position: absolute;
  overflow: visible;
  width: 129px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#About_Us {
  left: 1324px;
  top: 78px;
  position: absolute;
  overflow: visible;
  width: 206px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#Hours_of_Operation {
  left: 194px;
  top: 579px;
  position: absolute;
  overflow: visible;
  width: 428px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM {
  left: 364px;
  top: 646px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_w {
  left: 364px;
  top: 699px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_x {
  left: 364px;
  top: 752px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_y {
  left: 364px;
  top: 805px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_z {
  left: 364px;
  top: 858px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_ {
  left: 364px;
  top: 911px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#n_130AM-900PM_ba {
  left: 364px;
  top: 964px;
  position: absolute;
  overflow: visible;
  width: 305px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Monday {
  left: 144px;
  top: 699px;
  position: absolute;
  overflow: visible;
  width: 155px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Sunday {
  left: 144px;
  top: 646px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Tuesday {
  left: 144px;
  top: 752px;
  position: absolute;
  overflow: visible;
  width: 154px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Wednesday {
  left: 144px;
  top: 805px;
  position: absolute;
  overflow: visible;
  width: 214px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Thursday {
  left: 144px;
  top: 858px;
  position: absolute;
  overflow: visible;
  width: 170px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Friday {
  left: 144px;
  top: 911px;
  position: absolute;
  overflow: visible;
  width: 116px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Saturday {
  left: 144px;
  top: 964px;
  position: absolute;
  overflow: visible;
  width: 165px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
